* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #717171;
    --main-color-alt: #72AEC8;
    --main-transition: 0.3s;
}

body {
    /* font-family: "cairo", sans-serif; */
    /* overflow: hidden; */
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:600px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.Header {
    background-color: #f8f9fa;
    height: 93px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.Header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.Header ul {
    display: flex;
    margin-right: 50px;
}

.Header ul li {
    margin-right: 30px;
}

.Header ul li a {
    color: var(--main-color);
    transition: var(--main-transition);
    font-size: 16px;
}

.Header ul li a:hover {
    color: var(--main-color-alt);
}

.active {
    color: var(--main-color-alt);
}

.Header .services {
    display: flex;
}

.Header .icons {
    display: flex;

}

.Header .icons i {
    margin-right: 17px;
    font-size: 19px;
}

.Header .navb {
    display: none;
    cursor: pointer;
}

.Header .navb .nav {
    font-size: 45px;
    color: var(--main-color);
    text-align: center;

}

@media(max-width:1020px) {
    .Header .services {
        display: none;
    }

    .Header .navb {
        display: block;
    }
}

.responsive-nav {
    display: flex;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -250px;
    background-color: #f8f9fa;
    width: 250px;
    z-index: 10;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    transition: 0.3s ease-in-out;
}

.responsive-nav ul {
    display: flex;
    flex-direction: column;
    height: 62%;
    justify-content: space-between;
}

.responsive-nav .ex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.responsive-nav .ex i {
    font-size: 36px;
    cursor: pointer;
}

.responsive-nav ul li {
    margin-top: 20px;
    transition: 0.3s;
}

.responsive-nav ul li:hover {
    padding-left: 10px;
}

.responsive-nav ul li a {
    font-size: 21px;
}

.responsive-nav .icons {
    margin-bottom: 90px;
}

@media(max-width:600px) {
    .responsive-nav {
        right: 0;
        z-index: -1;
    }
}

@media(min-width:1020) {
    .responsive-nav {
        display: none;
    }
}


/* start section */

.section {
    height: 100vh
}

@media(max-width:797px) {
    .section {
        margin-top: 72px;
    }
}

.section .container {
    background-color: #edf1f3;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    overflow: hidden;
}

.section .container .page {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: absolute; */
    transition: 0.3s ease-in-out;
}

.section .container .page-one,
.section .container .page-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;

}

.section .container .page-two {
    display: none;
}

.section .banner-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 80px;
}

.section .banner-content h1 {
    font-size: 80px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 3rem;
    text-align: start;
}

.section .banner-content .btn {
    padding: 0.8em 2.8em;
    font-size: 1.1em;
    letter-spacing: 2px;
    background-color: #212529;
    color: white;
    transition: var(--main-transition) ease-in-out;
}

.section .banner-content .btn:hover {
    background-color: var(--main-color);
    border: none;
}

.section .image {
    position: relative;
    right: 0;
    top: -40px;

}

.section .image img {
    width: 100%;
}

.section .chevron {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
}

.section .chevron i {
    font-size: 100px;
    color: var(--main-color-alt);
    cursor: pointer;
}

.move {
    left: -100%;
}

@media(max-width:600px) {
    .section .banner-content {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section .container .page-one {
        flex-direction: column-reverse;
    }

    .section .banner-content h1 {
        font-size: 50px;
        text-align: center;
    }
}

/* End section */
/*  start company-services */
.company-services {
    padding-top: 125px;
}

.company-services .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

}

@media(max-width:797px) {

    .company-services .container {
        flex-direction: column;
    }


}

.company-services .container .box {
    display: flex;
    flex: 1;
    margin-bottom: 25px;
}

.company-services .container .box .icon {
    font-size: 34px;
    color: var(--main-color-alt);
    margin-right: 15px;
}

.company-services .container .box .content h3 {
    font-size: 1.5em;
}

.company-services .container .box .content p {
    font-size: 1.2em;
    color: #AEAEAE;
    line-height: 1.3;
    letter-spacing: 0.3px;
}

/*  end company-services */
/* start products */
.products {
    padding-top: 100px;
}

.products .product-header {
    display: flex;
    justify-content: space-between;
}

.products .product-header h2 {
    font-size: calc(1.325rem + .9vw);
    color: rgb(33 37 41);
}

.products .product-header a {
    text-decoration: underline;
    border: none;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: var(--main-color);
}

.products .boxes {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
}

.products .boxes .box {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.products .boxes .image {
    overflow: hidden;
    position: relative;
}

.products .boxes .box .image .cart {
    position: absolute;
    bottom: -85px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #212529;
    color: white;
    padding: 1px 13px;
    border-radius: 14px;
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 40px;
    align-items: center;
    transition: 0.3s ease-in-out;

}

.products .boxes .box .image .cart:hover {
    background-color: var(--main-color-alt);
}

.products .boxes .box .image:hover .cart {
    bottom: 50px;
}

.products .boxes .box .image .cart p {
    font-size: 1.1em;
    letter-spacing: 2px;
}

.products .boxes .box .content {
    display: flex;
    justify-content: space-between;
}

.products .boxes .box .content a {
    color: var(--dark-color);
    text-decoration: none;
    transition: 0.3s color ease-out;
    font-size: 1.5em;
}

.products .boxes .box .content span {
    color: var(--main-color-alt);
    text-decoration: none;
    transition: 0.3s color ease-out;
    font-size: 1.5em;
}

.products .dotet {
    display: flex;
    justify-content: center;
}

.products .dotet span {
    width: 15px;
    height: 15px;
    background-color: var(--main-color-alt);
    border-radius: 50%;
    margin-right: 6px;
    cursor: pointer;
}

.products .dotet .current {
    background-color: #717171;
}

/* end products */
/* start  Watches*/
.Watches {
    padding-top: 135px;
    margin-bottom: 35px;
}

.Watches .product-header {
    display: flex;
    justify-content: space-between;
}

.Watches .product-header h2 {
    font-size: calc(1.325rem + .9vw);
    color: rgb(33 37 41);
}

.Watches .product-header a {
    text-decoration: underline;
    border: none;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: var(--main-color);
}

.Watches .boxes {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
}

.Watches .boxes .box {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.Watches .boxes .image {
    overflow: hidden;
    position: relative;
}

.Watches .boxes .box .image .cart {
    position: absolute;
    bottom: -85px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #212529;
    color: white;
    padding: 1px 13px;
    border-radius: 14px;
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 40px;
    align-items: center;
    transition: 0.3s ease-in-out;

}

.Watches .boxes .box .image .cart:hover {
    background-color: var(--main-color-alt);
}

.Watches .boxes .box .image:hover .cart {
    bottom: 50px;
}

.Watches .boxes .box .image .cart p {
    font-size: 1.1em;
    letter-spacing: 2px;
}

.Watches .boxes .box .content {
    display: flex;
    justify-content: space-between;
}

.Watches .boxes .box .content a {
    color: var(--dark-color);
    text-decoration: none;
    transition: 0.3s color ease-out;
    font-size: 1.5em;
}

.Watches .boxes .box .content span {
    color: var(--main-color-alt);
    text-decoration: none;
    transition: 0.3s color ease-out;
    font-size: 1.5em;
}

.Watches .dotet {
    display: flex;
    justify-content: center;
}

.Watches .dotet span {
    width: 15px;
    height: 15px;
    background-color: var(--main-color-alt);
    border-radius: 50%;
    margin-right: 6px;
    cursor: pointer;
}

.Watches .dotet .current {
    background-color: #717171;
}

/* end  Watches*/
/* start sale */
.sale {
    background: url("./image/single-image1.png");
    background-position: right;
    background-repeat: no-repeat;
    height: calc(100vh - 91px);
    width: 100%;
    background-color: #EDF1F3;
    position: relative;
}

.sale .container {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 50%;
}

@media(max-width:767px) {
    .sale {}

    .sale .container {
        /* transform: translatex(-50%); */
        left: 10px;
        text-align: center;
        width: auto;
    }
}



.sale .container h3 {
    font-size: calc(1.3rem + .6vw);
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(33 37 41);
}

.sale .container h2 {
    color: rgb(33 37 41);
    text-transform: uppercase !important;
    font-size: calc(1.575rem + 3.9vw);
    font-weight: 300;
    line-height: 1.2;
}

.sale .container button {
    padding: 0.7em 2.8em;
    font-size: 1.1em;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    margin-top: 26px;
    border: none;
    transition: 0.3s ease-in-out;
}


.sale .container button:hover {
    background-color: var(--main-color-alt);
}

/* end sale */